.upload{
    position: relative;
    width: 400px;
    height: 200px;
    border: 2px dashed var(--border-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--input-bg);
}

.upload__input{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.upload:hover,
.upload.dragover{
    opacity: 0.6;
}

.upload__file-label{
    text-align: center;
    color: var(--txt-second-color);
    font-weight: 600;
    padding: 10px;
}

.drop-area{
    width: 40vw;
    height: 40vh;
    background-color: black;
}

.upload__icon{
    color: #642BAFFF;
    font-size: 110px;
}

.drop__file-preview{
    width: 400px;
    margin-top: 30px;
}

.drop__file-preview-title{
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.drop__file-preview-item{
    position: relative;
    display: flex;
    margin-bottom: 10px;
    background-color: var(--input-bg);
    padding: 15px;
    border-radius: 20px;
}

.image{
    width: 50px;
    margin-right: 20px;
}

.drop__file-preview-item-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.drop__file-preview-item-del{
    background-color: var(--box-bg);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.drop__file-preview-item:hover .drop__file-preview-item-del {
    opacity: 1;
}

.drop__file-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    background: var(--border-color);
    color: #ffffff;
    padding: 15px;
    margin-top: 30px;
    border-radius: 20px;
    border: none;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}














